#app {
  height: 100%;
  background-image: url(../imgs/2.jpg);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh; /* 没有元素时，也把页面撑开至100% */
  /* height: 100vh; */
  /* height: 100vh; */
  /* overflow: scroll; */
  /* height: 100vh; */
  background-repeat: no-repeat;
}
