* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: auto;
  background-image: url(../imgs/2.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #fff;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
